node_modules
.turbo
.idea
.vscode
.env
.env.local
.env.development
.env.production
.env.test
dist
coverage
*.log
apps/*/dist
packages/*/dist
tooling/*/dist
*.tsbuildinfo

# Playwright
apps/web/test-results/
apps/web/playwright-report/
apps/web/blob-report/
apps/web/.playwright/

# Expo
apps/mobile/.expo/
apps/mobile/dist/
design_handoff_genex
